<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Ad</title>
    <th:block th:replace="fragments/header :: main-header(false)"/>
</head>
<body>

<div th:replace="fragments/navbar :: main-navbar"></div>

<div class="container mt-3">
    <header class="jumbotron my-3">
        <h1 class="display-3 text-center">Create Ad</h1>
    </header>
    <div class="card p-3">
        <form th:action="@{'/ads/create'}" th:method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" id="title" type="text" name="title" placeholder="Enter ad title">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" placeholder="Enter ad description"></textarea>
            </div>
            <button class="btn btn-success btn-block">Submit Ad</button>
        </form>
    </div>
</div>
<th:block th:replace="fragments/footer :: main-footer"/>
</body>
</html>