<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Ad</title>
    <th:block th:replace="fragments/header :: main-header(false)"/>
</head>
<body>

<div th:replace="fragments/navbar :: main-navbar"></div>

<div class="container mt-3">

    <header class="jumbotron my-3">
        <h1 class="display-3 text-center">View Ad</h1>
    </header>

    <div class="card p-3">
        <h1 th:text="${ad.title}"></h1>
        <p th:text="${ad.description}"></p>
        <p>Created by: <span th:text="${ad.user.email}"></span></p>
        <input type="hidden" name="id" th:value="${ad.id}">
        <a th:href="@{'/ads/' + ${ad.id} + '/edit'}" class="btn btn-warning">Edit Ad</a>
        <form th:action="@{'/ads/' + ${ad.id} + '/delete'}" method="post">
            <button class="btn btn-danger btn-block">Delete Ad</button>
        </form>
    </div>

</div>
<th:block th:replace="fragments/footer :: main-footer"/>
</body>
</html>